<section class="form-container">
	<h2 class="sign_up">Sign in to join the tournament</h2>
		<form action="/sessions" method="post">
			<input name="email" type="text" placeholder="Email">
			<input name="password" type="password" placeholder="Password">
			<input class="form_button" value="Log In" type="submit">
		</form>
</section>
