<section class="sign-in">
	<form action="/sessions" method="post">
		Email: <input name="email" type="text">
		Password: <input name="password" type="password">
		<input class="button" value="Sign in" type="submit">
	</form>
</section>