<body>
  <header>
    <nav>
        <ul>
          <li><h1>Home</h1></li>
          <li><h1>Groups</h1></li>
          <li><h1>Finals</h1></li>
          <li><h1>About September</h1></li>
        </ul>
    </nav>
    </header>
    <main>

      <table summary="Group Stages">

      </table>

      <table summary="Top Eight">
        <tr>
          <td><p>Winner Group A</p></td>
          <td rowspan="2"><p>Winnner QF1</p></td>
          <td rowspan="4"><p>Winner S1</p></td>
          <td rowspan="8"><p>SEPTEMBER CHAMPION</p></td>
        </tr>
        <tr>
          <td><p>Second Place Group B</p></td>
        </tr>
        <tr>
          <td><p>Winner Group B</p></td>
          <td rowspan="2"><p>Winner QF2</p></td>
        </tr>
        <tr>
         <td><p>Second Place Group A</p></td>
        </tr>
        <tr>
          <td><p>Winner Group C</p></td>
          <td rowspan="2"><p>Winner QF3</p></td>
          <td rowspan="4"><p>Winner S2</p></td>
        </tr>
        <tr>
          <td><p>Second Place Group D</p></td>
        </tr>
        <tr>
          <td><p>Winner Group D</p></td>
          <td rowspan="2"><p>Winner QF4</p></td>
        </tr>
        <tr>
          <td><p>Second Place Group C</p></td>
        </tr>
        <tr>
      </table>
    </main>

  </body>