<body>
<center>
  <header>
  <h1>Makers Table Tennis Tournament</h1>
    <nav>
        <ul>
          <li>Home</li>
          <li>Groups</li>
          <li>Finals</li>
          <li>About September</li>
        </ul>
    </nav>
		<a href='/sign_up'>Sign Up</a>	
    </header>





<img src="/pictures/makers_ttt.jpg" alt="Makers_ttt">

</center>
</body>