<html>

	<head>
		<title>September Table Tennis Tournament</title>
			<link type="text/css" rel="stylesheet" href="http://localhost:9292//css/stylesheet.css"/>
			<meta http-equiv="refresh" content="20">
	</head>

	<body>
	<%= yield %>
		<header>
			<nav>
				<ul>
					<li><h1>Home</h1></li>
					<li><h1>About September</h1></li>
					<li><h1>The tournament</h1></li>
				</ul>
			</nav>
			<h1></h1>
		</header>
		<main>
		</main>
	</body>

</html>
