<html>

	<head>
		<title>September Table Tennis Tournament</title>
			<link type="text/css" rel="stylesheet" href="http://localhost:9292//css/stylesheet.css"/>
			<meta http-equiv="refresh" content="20">
	</head>

	<body>
	<%= yield %>
		<header>
			<nav>

			</nav>
			<h1></h1>
		</header>
		<main>
			<table>
			
			</table>
		</main>
	</body>

</html>
