<section class="form-container">
  <h2 class="sign_up">Sign up to join the tournament</h2>

  <form class="sign_up" action="/player" method="post">
    <ul>
      <li><input name="email" type="text" placeholder="Email" value="<%= @player.email %>"></li>
      <li><input name="name" type="text" placeholder="Name" value="<%= @player.name %>"></li>
      <li><input name="password" placeholder="Password" type="password"></li>
      <li><input name="password_confirmation" placeholder="Password Confirmation" type="password"></li>
      <li><input class="form_button" type="submit" value="Enter Tournament"></li>
    </ul>
  </form>
</section>
