<h2>Please sign up to join the tournament</h2>

<form action="/player" method="post">
  Email: <input name="email" type="text">
  Password: <input name="password" type="password">
  <input type="submit" value="Enter Tournament">
</form>