   
<h2>Enter game date:</h2>

  <form action="/" method="post">
  Player 1:<input name="player-name" type="text" value="<%= @player.name %>">
  Player 2:<input name="player-name" type="text" value="<%= @player.name %>">
  Player 1 Score:<input name="player-score" type="text" value="<%= @player.games_played %>">
  Player 2 Score:<input name="player-score" type="text" value="<%= @player.games_played %>">
  <input type="submit" value="Submit Game">
</form>