
<body>

<table id="finals-table">
  <tr>
    <td><p>Winner, GroupA: </br>
      <%= @groupA.all(order: [:points.desc]).first.name %></p></td>
  <td rowspan="2"><p>team name</p></td>
  <td rowspan="4"><p>team name</p></td>
  <td rowspan="8"><p>team name</p></td>
  <td rowspan="16"><p>team name</p></td>
 </tr>
 <tr>
  <td><p>Runner-up Group B</p></td>
 </tr>
 <tr>
  <td><p>Winner Group B: </br>
  <%= @groupB.all(order: [:points.desc]).first.name %></p></td>
  <td rowspan="2"><p>team name</p></td>
 </tr>
 <tr>
  <td><p>Runner-up Group A</p></td>
 </tr>
 <tr>
  <td><p>Winner Group C: </br>
  <%= @groupC.all(order: [:points.desc]).first.name %></p></td>
  <td rowspan="2"><p>team name</p></td>
  <td rowspan="4"><p>team name</p></td>
 </tr>
 <tr>
  <td><p>Runner-up Group D</p></td>
 </tr>
 <tr>
  <td><p>Winner Group D: </br>
  <%= @groupD.all(order: [:points.desc]).first.name %></p></td>
  <td rowspan="2"><p>team name</p></td>
 </tr>
 <tr>
  <td><p>Runner-up Group C</p></td>
 </tr>
