<!DOCTYPE html>
<html>
  <head>
    <title>Table Tennis Tournament</title>
      <link rel="stylesheet" type="text/css" href="/css/reset.css">
      <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">  
  </head>

  <body>
    <%= partial :welcome_message %>
    <%= partial :flash %>
    <%= yield %>
  </body>
  
</html>